@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

body {
  background: #f7f6e9;
  font-family: 'Eczar', serif;
  font-weight: 800;
  color: #99A89E;
}

h2 {
  font-weight: 800;
}

p {
  font-family: "Comfortaa", cursive;
}

li {
  list-style: none;
}

a {
  color: #f7f6e9;
}

a:hover {
  color: #edd5a9;
  text-decoration: none;
}


.parallax {
  /* The image used */
  background-image: url(./assets/menu-jumbo-pic.JPG);
  
  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.menu-bg {
  /* The image used */
  background-image: url(./assets/site-banner-img.JPG);
  
  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.page-width {
  width: 80%;
  margin: auto;
}

.navbar-toggler {
  border-style: none;
}

.navbar-toggler-icon {
  width: 25px;
  height: 25px;
}

.footer {
  background-color: #99A89E;
  color: #f7f6e9;
  height: 250px;
  max-width: 100%;
  margin: 0 auto;
}

.bordered {
  padding: 40px;
  border: solid 10px #edd5a9;
}

.btn:active, 
.btn:focus,
.form-control:focus,
.form-control:active {
  box-shadow: none;
  outline: none;
}

.bg-white {
  background: white;
}

.modal-content {
  background: #f7f6e9;
}

.modal-content input {
  background-color: whitesmoke;
}
.modal-content textarea {
  background-color: whitesmoke;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-green-outline {
  background-color: #f7f6e9;
  border: 2px solid #99A89E;
  color: #99A89E;
}

.btn-green-outline:hover {
  background-color: #99A89E;
  border: 2px solid #99A89E;
  color: #f7f6e9;
}

.email-form {
  max-width: 50%;
  font-weight: 600;
}

.btn-email {
  background-color: #ba8778;
  color: #f7f6e9;
  font-weight: 800;
  border-radius: 25px;
}

.btn-email:hover {
  color: #edd5a9;
  font-weight: 800;
}

.btn-green {
  background-color: #99A89E;
  font-size: 2rem;
  font-weight: 800;
  padding: 15px 40px;
  margin: 0;
  color: #edd5a9;
  box-shadow: #edd5a9 10px 10px 0 0 ;
  transition: .2s ease;
}

.btn-green:hover {
  color: #edd5a9;
  background: #99A89E;
  box-shadow: none;
  transition: .2s ease;
}

.navbar {
  transition: background 500ms;

}

.blurb h2 {
  font-weight: 700;
  font-size: 3rem;
}

.blurb p {
   font-weight: 100;
   font-size: 1.125rem;
   line-height: 2;
}
/* .align-right h2 {
  text-align: right;
}

.align-right p {
   text-align: right;
} */

section.main-info div {
  text-align: left;
}

section.main-info-right div {
  text-align: right;
}

#headerBtn {
  margin-top: 520px;
}

/* #mainNavbar .navbar-brand {
  padding-left: 5%;
  padding-right: 50px;
  transition: .2s ease;
} */

#mainNavbar .nav-link{
  color: #ba8778;
}

#mainNavbar .navbar-nav {
  height: 100px;
  max-width: 100%;
}

#header {
  padding-top: 75px;
}


@media (max-width: 1255px) {
  #headingGroup h1 {
      font-weight: 700;
      font-size: 3rem;
  }
  .blurb h2 {
      font-size: 2rem;
  }
  .btn-green {
  font-size: 1rem;
  padding: 15px 40px;
  margin: 0;
  transition: .2s ease;
  }

  .blurb {
    margin-top: 20px;
  }
  /* #mainNavbar .navbar-brand {
    padding-left: 0%;
    padding-right: 50px;
    transition: .2 ease;
  } */
  .btn-green:hover {
    box-shadow: none;
    transition: .2s ease;
  }
  #headerBtn {
    margin-top: 520px;
  }
}

@media (max-width: 575px) {
  #headerBtn {
    margin-top: 550px;
  }

  .parallax {
    background-size: fill;
    background-attachment: scroll;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .menu-bg {
    background-size: fill;
    background-attachment: scroll;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  
  .blurb h2 {
    font-size: 1.75rem;
  }

  .blurb p {
    font-size: 0.85rem;
  }

  .page-width {
    width: 100%;
    margin: auto;
  }

  .navbar-brand {
    width: 85%;
  }
  .lead {
    font-size: 0.85rem;
  }
  section.main-info div {
    text-align: center;
  }
  section.main-info-right div {
    text-align: center;
  }
}
@media (max-width: 470px) {
  .parallax {
    height: 450px;
  }
  #headerBtn {
    margin-top: 400px;
  } 
  .navbar-brand {
    width: 80%;
  } 
}